.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.form-signin{
    width: 30vw;
    border: 1px solid black;
    background: radial-gradient(antiquewhite,white);
    padding: 25px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.head-reg{
    font-weight: 400;
    text-transform: capitalize;
    font-style:oblique;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}
.btn-reg{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
@media (max-width:600px) {
    .form-signin{
    width: 65vw;
    }
}