.nav-cont{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    border-bottom:1px double black;
    background-color: #f2b5d4;
    
}
.nav-link{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    
}
.nav-link:hover{
    text-shadow: 0.5px 1px black;
    color: black;
    transition: all -1s ease-in-out;
}
@media (max-width:600px) {
    .nav-cont{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
}
h2{
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    text-shadow: 1px 0.5px;
    touch-action: cross-slide-x;
}
.nav-link{
    font-size: medium;
}
}