.product-container{
    width:200px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 1px 1px 1px 0 black;
    border-radius: 10% 0 10% 0;
    background:linear-gradient(beige,pink,beige)
}
.product-container .product img{
    height: 100px;
    width:100px;
    border-radius: 10%;
    border: 3px solid rebeccapurple;
}
.button-cart{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10%;
    border: none;
}
.product-name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 10px;
    font-size: 1rem;
}
.remove{
    background-color: red;
}